#header {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    margin: 0 auto;
    font-size: 17px;
    padding: 10px 0px 10px 20px;
}

#button {
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    margin: 0 auto;
    font-size: 17px;
    padding: 10px 0px 10px 20px;
}

#content {
    color: gray;
    margin: 0 auto;
    width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-top: 15px;
}

.title {
    margin-right: 30px;
    width: 270px;
    float: left;
    text-align: right;
    font-size: 20px;
}

.sub-content {
    width: 600px;
    float: right;
    text-align: left;
    font-size: 13px;
}

input {
    height: 28px;
    font-size: 14px;
    border: solid gainsboro;
    background-color: white;
}

select {
    width: 55%;
    height: 30px;
    font-size: 15px;
}

.clear {
    clear: both;
}